@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1699868949769') format('truetype');
  font-display: auto;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tushu:before {
  content: "\f00a1";
}

.icon-yongyan:before {
  content: "\f00f5";
}

.icon-douban:before {
  content: "\e7a1";
}

.icon-xiangce:before {
  content: "\e60a";
}

.icon-dashang:before {
  content: "\e672";
}

.icon-yinle:before {
  content: "\e601";
}

.icon-book:before {
  content: "\e7b3";
}

.icon-solution:before {
  content: "\e7b5";
}

.icon-trophy:before {
  content: "\e7c4";
}

.icon-read:before {
  content: "\e7d8";
}

.icon-wifi:before {
  content: "\e7e0";
}

.icon-link:before {
  content: "\e7e2";
}

.icon-tags:before {
  content: "\e7e5";
}

.icon-alipay:before {
  content: "\e87c";
}

.icon-zhihu:before {
  content: "\e87d";
}

.icon-linkedin:before {
  content: "\e87e";
}

.icon-facebook:before {
  content: "\e87f";
}

.icon-skype:before {
  content: "\e880";
}

.icon-CodeSandbox:before {
  content: "\e881";
}

.icon-codepen:before {
  content: "\e882";
}

.icon-sketch:before {
  content: "\e883";
}

.icon-Gitlab:before {
  content: "\e884";
}

.icon-dribbble:before {
  content: "\e885";
}

.icon-instagram:before {
  content: "\e886";
}

.icon-reddit:before {
  content: "\e887";
}

.icon-Youtube:before {
  content: "\e888";
}

.icon-QQ:before {
  content: "\e889";
}

.icon-weibo:before {
  content: "\e88a";
}

.icon-wechat-fill:before {
  content: "\e88b";
}

.icon-github-fill:before {
  content: "\e88c";
}

.icon-movie:before {
  content: "\e629";
}

.icon-niuyouguo:before {
  content: "\e608";
}

.icon-xigua:before {
  content: "\e60c";
}

.icon-folder:before {
  content: "\e806";
}

.icon-camera:before {
  content: "\e6e7";
}

.icon-weixingongzhonghao:before {
  content: "\e705";
}

.icon-twitter-fill:before {
  content: "\e63d";
}

.icon-youxiang:before {
  content: "\e639";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-bilibili:before {
  content: "\e50a";
}

